.custom-navbar {
    background-color: black;
    border-radius: 20rem;
    padding: 10px;
    /*display: flex;*/
    /*margin: 40px 100px 0 100px;*/
    justify-content: center;
    /*height: 80px;*/
    font-weight: 500;
    width: 100%;
}

.custom-item {
    width: 110px;
    text-align: center;
    border-radius: 5rem;
}

.custom-item:hover {
    border-radius: 5rem;
}

.custom-hover-bg {
    background-color: rgba(210, 210, 210, 0.27);
}

.custom-active-bg {
    background-color: #FD853A !important;
}

/* Add in your Navbar6.css if needed */
.menu-enter-active, .menu-leave-active {
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.menu-enter, .menu-leave-to {
    opacity: 0;
    transform: scale(0.95);
}

