.profile-container {
    margin-top: 8rem;
}

.profile-hello-button {
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 500;
}

.profile-quote {
    margin-top: 20px;
}

.profile-name {
    font-size: 80px;
    color: #333;
}

.combined-button {
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
    border: 2px solid #ff7f32;
}

.button-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
}


/* Hover effect for "Portfolio" */
.left:hover {
    background-color: #ff7f32;
}

/* Hover effect for "Hire me" and make "Portfolio" transparent */
.right:hover .arrow {
    opacity: 1;
}

.right:hover {
    background-color: #ff7f32;
    color: white;
}

/* Show arrow on hover for Portfolio */
.left .arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.right .arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* On hover over Portfolio, hide "Hire me" arrow */
.left:hover .arrow {
    opacity: 1;
}

.right:hover .arrow {
    opacity: 1;
}

.profile-second-row {
    margin: 0 0 10rem 0;
}

@media only screen and (max-width: 900px) {
    /* Styles for screens smaller than 600px */
    .profile-pic img {
        margin-top: 250px;
        padding: 0;
        display: block;
    }

    /*.left-text, .right-text {*/
    /*    justify-content: center;*/
    /*    text-align: center;*/
    /*}*/
}

@media only screen and (max-width: 800px) {
    .profile-container {
        margin-top: 5rem;
    }

    .profile-name {
        font-size: 50px;
    }

    .profile-quote {
        margin-top: 0;
    }

    /* Styles for screens smaller than 600px */
    .profile-pic img {
        margin-top: 300px;
        padding: 0;
        display: block;
    }

    .left-text, .right-text {
        justify-content: center;
        text-align: center;
    }

    .profile-second-row {
        margin: 5rem 2rem;
    }
}