.profile-name {
    font-size: 80px;
    color: #333;
}

.combined-button {
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
    border: 2px solid #ff7f32;
}

.button-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
}


/* Hover effect for "Portfolio" */
.left:hover {
    background-color: #ff7f32;
}

/* Hover effect for "Hire me" and make "Portfolio" transparent */
.right:hover .arrow {
    opacity: 1;
}

.right:hover {
    background-color: #ff7f32;
    color: white;
}

/* Show arrow on hover for Portfolio */
.left .arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.right .arrow {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* On hover over Portfolio, hide "Hire me" arrow */
.left:hover .arrow {
    opacity: 1;
}

.right:hover .arrow {
    opacity: 1;
}

/*@media only screen and (max-width: 1200px) {*/
/*    !* Styles for screens smaller than 600px *!*/
/*    .profile-pic img {*/
/*        background-color: #6a0dad;*/
/*        margin-top: -350px;*/
/*    }*/
/*}*/

@media only screen and (max-width: 900px) {
    /* Styles for screens smaller than 600px */
    .profile-pic img {
        margin-top: 250px;
        padding: 0;
        display: block;
    }

    /*.left-text, .right-text {*/
    /*    justify-content: center;*/
    /*    text-align: center;*/
    /*}*/
}

@media only screen and (max-width: 800px) {
    /* Styles for screens smaller than 600px */
    .profile-pic img {
        margin-top: 300px;
        padding: 0;
        display: block;
    }

    .left-text, .right-text {
        justify-content: center;
        text-align: center;
    }
}