.resume-parent {
    margin-top: 10rem;
}

.resume-parent h1 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.resume-title {
    padding: 0;
    font-size: 70px;
    font-family: "Times New Roman", serif;
}

.resume-sub-title {
    font-size: 26px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: inherit;
    font-style: normal;
    margin-top: -20px;
}

.resume-details {
    margin-top: 50px;
}

.resume-details p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: inherit;
    font-style: normal;
}

.imageCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-heading {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 42px;
}


.resume-title {
    text-align: left;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 42px;
}

@media only screen and (max-width: 900px) {
    .imageCol {
        display: none;
    }

    .resume-title {
        font-size: 45px;
    }

    .resume-sub-title {
        font-size: 20px;
    }
}