.testimonial-parent {
    position: relative; /* Ensure the container is positioned */
    background-image: url("../assests/testimonials.jpg");
    background-color: #09122C;
    background-size: cover;
    background-position: center;
    /*background-color: #6a0dad;*/
    border-radius: 40px;
    padding: 100px 0;
}

.testimonial-parent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 40px;
    z-index: 1; /* Ensure it sits above the background image */
}

/* Ensure the text is above the overlay */
.testimonial-parent > * {
    position: relative; /* Positioning the child elements above the overlay */
    z-index: 2; /* Higher z-index than the overlay */
}

.custom-text_heading {
    color: white;
}

@media only screen and (max-width: 600px) {
    position: relative; /* Ensure the container is positioned */
    background-image: none;
    background-size: unset;
    background-position: center;
    background-color: #6a0dad;
    border-radius: 40px;
    padding: 100px 0;
}